<div class="product">

  <ng-template [ngIf]=product.image >
    <div class="product__image">
      <img src="{{product.image}}">
    </div>
  </ng-template>

  <custom-title [title]="product.title | uppercase"></custom-title>
  <div class="product__text">{{product.description | wordUpper:['томат' , 'сыр']}} </div>
  <div class="product__action" #elem>
    <a class="btn" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
    <a class="btn btn-white" [routerLink]="['/products', product.id]">Подробнее</a>
  </div>
</div>


<!--(click)="addToCart(product, orderElement)"-->
