.product {
  width: 282px;
  box-shadow: 0 3px 13.8px 1.2px rgba(152,152,152,0.2);
  background-color: #ffffff;
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-top: 24px;
}

.product__image {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__image img {
  max-width: 100%;
  max-height: 100%;
}

.products__title {
  font-size: 18px;
  color: #382400;
  font-family:MullerBold, sans-serif;
}

.product__text {
  height: 51px;
  font-size: 14px;
  color: #181a1a;
  line-height: 18px;
  margin: 14px 0 15px 0;
}

.product__btn {
  width: 242px;
  height: 50px;
  padding: 17px;
}

.product__action .btn.btn-white {
  margin-top: 10px;
}

.product__action {
  display: flex;
  flex-direction: column;
}


/* 1024-1229 */
@media screen and (max-width: 1229px) {
  .product {
    margin: 12px;
  }
}
