<section class="order about">
  <div class="container order__container">
    <div class="">
      <div class="order__double-title  double-title"><a name="order"></a>
        <span>Лучшая </span>итальянская пиццерия!
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore itaque repellendus rerum? Amet
        delectus deleniti qui quia quod? Cupiditate debitis, fugit in minima minus perferendis quibusdam quo ratione
        sint?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore itaque repellendus rerum? Amet
        delectus deleniti qui quia quod? Cupiditate debitis, fugit in minima minus perferendis quibusdam quo ratione
        sint?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore itaque repellendus rerum? Amet
        delectus deleniti qui quia quod? Cupiditate debitis, fugit in minima minus perferendis quibusdam quo ratione
        sint?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore itaque repellendus rerum? Amet
        delectus deleniti qui quia quod? Cupiditate debitis, fugit in minima minus perferendis quibusdam quo ratione
        sint?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore itaque repellendus rerum? Amet
        delectus deleniti qui quia quod? Cupiditate debitis, fugit in minima minus perferendis quibusdam quo ratione
        sint?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore itaque repellendus rerum? Amet
        delectus deleniti qui quia quod? Cupiditate debitis, fugit in minima minus perferendis quibusdam quo ratione
        sint?
      </div>
    </div>

    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>

<app-popup name="about component"></app-popup>
